/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-height: 100%;
    display: block;
}

a {
    text-decoration: none;

}




/* body */
#root {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

/* header */

/* logo */
.dclogo {
    padding: 15px;
}

/* menu */

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;

}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul a {
    color: #464646;
}

header ul li {
    padding: 60px 0;
    border-bottom: 3px solid transparent;
}

nav ul .hovereffect:hover {
    border-bottom: 3px solid #0282f9;

}

nav ul a:hover {
    color: #0282f9;
}

/* main */
main {
    padding: 0px 200px;
    background-color: #000000;
}

h2 {
    padding: 50px;
    color: #ffffff
}

/* footer */

/* footer menù */
.footer-menu {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    color: #ffffff;
    padding: 40px 200px;
    background-color: #0282f9;
}

.footer-menu li {
    display: flex;
    align-items: center;
}

.footermenuimg {
    height: 45px;
    width: 35px;
}

.footermenuimgsvg {
    width: 45px;
}

.footer-nav-text {
    padding-left: 10px;
    font-weight: 400;
}

/* footer list */
.footerlist {
    display: flex;

    background-image: url(assets/img/footer-bg.jpg);
    padding: 40px 200px;
    color: #ffffff;
}

.row {
    display: flex;
}

.column {
    margin-right: 30px;
    flex-direction: column;
}

.column li {
    list-style: none;
    font-size: 10px;
    padding-left: 10px;
}

.column li a {
    color: #959595;
}

h3 {
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
}

/* footer list */
.footerbtn {
    display: flex;
    justify-content: space-between;
    background-color: #303030;
    text-transform: uppercase;
    padding: 30px 200px;
}

button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #303030;
    font-weight: bold;
    border: 3px solid #0282f9;
    padding: 10px;
    cursor: pointer;
}

span {
    color: #0282f9;
    font-weight: bold;
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}