/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;

}

/* body */
#root {
    font-family: "Open Sans", sans-serif;
}

/* header */

/* logo */
.dclogo {
    padding: 15px;
}

/* menu */

header nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul a {
    color: #464646;
}

header ul li {
    padding: 60px 0;
    border-bottom: 3px solid transparent;
}

nav ul .hovereffect:hover {
    border-bottom: 3px solid #0282f9;

}

nav ul a:hover {
    color: #0282f9;
}

/* main */
main {
    background-color: #1c1c1c;
}

h2 {
    padding: 50px;
    color: #ffffff
}

/* main */

/* cards */
.comics-raw {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    width: calc((100% - 125px) / 6);
}

.img-card {
    height: 180px;
    width: 180px;
}

.img-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

h4 {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 13px;
}

/* jumbotron */

.jumbotron {
    width: 100%;
    height: 330px;
    object-fit: cover;
    object-position: top;
    position: relative;
}

/* label */
.label {
    position: absolute;
    left: 190px;
    top: 450px;
    text-align: center;
    padding: 10px 15px;
    width: 230px;
    background-color: #0282f9;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

/* main button */

.bottone {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.main-btn {
    background-color: #0282f9;
    padding: 10px 50px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* footer */

/* footer menù */

.container-footer-menu {
    width: 1200px;
    margin: 0 auto;
}

.footer-nav-menu {
    background-color: #0282f9;
}


.footer-menu {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    color: #ffffff;
    padding: 40px;
    position: relative;
    z-index: 3;
}

.footer-menu li {
    display: flex;
    align-items: center;
}

.footermenuimg {
    height: 45px;
    width: 35px;
}

.footermenuimgsvg {
    width: 45px;
}

.footer-nav-text {
    padding-left: 10px;
    font-weight: 400;
}

/* footer list */

.footerlist {
    background-image: url(assets/img/footer-bg.jpg);
}

.footer-logo-container {
    position: absolute;
    left: 700px;
    top: -120px;
    width: 600px;
    height: 600px;

}

.footer-logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.raw {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 40px;
    color: #ffffff;
    position: relative;
}

.column {
    margin-right: 30px;
    flex-direction: column;
}

.column li {
    line-height: 25px;
    list-style: none;
    font-size: 10px;
    padding-left: 10px;
}

.column li a {
    color: #959595;
}

h3 {
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
}

/* footer list */
.container-socials {
    background-color: #303030;
    position: relative;
    z-index: 3;
}

.footer-socials {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 30px 0px
}

.footer-button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #303030;
    font-weight: bold;
    border: 3px solid #0282f9;
    padding: 10px;
    cursor: pointer;
}

.socials span {
    color: #0282f9;
    font-weight: bold;
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}